body {
  background: hsl(150, 15%, 50%);
}
svg {
  background: white;
  display: block;
  margin: 100px auto;
  box-shadow: 6px 6px 4px hsl(220, 5%, 25%);
}
#title {
  font-size: 2em;
  font-weight: 700;
}
#sub-title {
  font-size: 1.25em;
  font-weight: 400;
}
.dot {
  stroke: black;
  stroke-width: 1px;
}
.legend-dot {
  stroke: black;
  stroke-width: 1px;
}
#tooltip {
  background-color: rgba(108, 131, 147, 0.9);
  color: #000;
  padding: 10px;
  font-weight: 600;
}
#legend {
  font-weight: 700;
}